body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #343434;
}

header {
  padding: 10px;
}

li {
  list-style: none;
}

a {
  color: #343434;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about {
  background-color: #e24343;
  color: #ffffff;
}

.col__left {
  width: 30%;
}

.col__right {
  width: 70%;
}

.about__img-wrapper {
  margin: 20px auto;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}

.about__img {
  width: 100%;
}

.about__title {
  margin-left: auto;
  text-align: end;
}

.about__divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #ffffff;
}
